@navbar-background-dark: #36383b;
@navbar-hover-color-dark: #424548;
@main-text-dark: #e5e5e5;
@main-background-color-dark: #303235;


@navbar-background-light: #3a9cff;
@navbar-hover-color-light: #6db6ff;
@main-text-light: #000;
@main-background-color-light: #f0f7ff;
@nav-text-light: #fff;