@navbar-background-dark: #36383b;
@navbar-hover-color-dark: #424548;
@main-text-dark: #fff;
@main-background-color-dark: #303235;


@navbar-background-light: #3a9cff;
@navbar-hover-color-light: #6db6ff;
@main-text-light: #000;
@main-background-color-light: #fbfdff;
@nav-text-light: #fff;